/* .alarm-box {
    background-color: rgba(255, 127, 80, 0.4);
    border: 1px solid rgba(255, 127, 80, 0.1);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    height: 40px;
    width: 250px;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
} */

.alarm_container {
    position: fixed;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 9999;
    display: none;
}

.alarm_container.show {
    display: block;
}