/* AuctionResult.css */

.auction-result {
    padding: 20px;
  }
  
  .auction-result-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  .ag-header-cell-label {
    justify-content: center;
  }
  
  .ag-cell {
    display: flex;
    align-items: center;
  }
  

  .row-green {
    background-color: #c8e6c9 !important;
  }
  
  .row-red {
    background-color: #ffcdd2 !important;
  }
  
  .row-yellow {
    background-color: #fff9c4 !important;
  }